include header.jade

  body
    header
      nav(class='navbar navbar-default')
        .container-fluid
          .navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#mainNav")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(class='navbar-brand', href='/')
              img(src='/assets/imgs/logo.svg', alt='Food Share')
          div#mainNav(class='navbar-collapse collapse')
            ul.nav.navbar-nav.navbar-right
              li.btn.btn-success.navbar-btn
                a(href="/subscribers")
                  i.glyphicon.glyphicon-user
                  span  Neighbors Interested

    block content
    block footer
      footer.container
        .row
          .col-sm-12
            p
              button(class='btn btn-success btn-block share') Share My Basket
    block footer-scripts
      script(src='/socket.io/socket.io.js')
      script(src='/assets/js/client.js')