include header.jade

  body#splash
    .splash-wrapper
      a(href='/')
        i.check.glyphicon.glyphicon-ok
      h4 We let #{data.persons} know that are interested in sharing food!
  script.
    setInterval(function(){
      window.location = '/';
    }, 3500);
