include header.jade

  body#splash
    .splash-wrapper
      p
        a(href='/')
          img(src='/assets/imgs/logo.svg', alt="Food Share")
      a(href='/' class="center-block btn btn-success btn-lg")
        See What's Being Shared?